# poetry ignored files
__pycache__
*.pyc
*.pyo
*.pyd
.venv
dist/**
# Pycharm workspace file
.idea/workspace.xml
.idea/misc.xml
.idea/QR_claims.iml
.idea/**
.idea/**/**

# sqlite database file
*.sqlite
*.db